<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD polkit Policy Configuration 1.0//EN" "http://www.freedesktop.org/software/polkit/policyconfig-1.dtd">
<policyconfig>
  <vendor>omaclean</vendor>
  <vendor_url>https://github.com/tenngoxars/omarchy-omaclean</vendor_url>

  <action id="com.omaclean.clean">
    <description>Clean system caches and logs</description>
    <message>Authentication is required to clean system caches and logs</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/lib/omaclean/omaclean-priv-31af0b51a453d51d3d2808ee97380983a970edca74090d60254cfc96a96ddef6</annotate>
  </action>
</policyconfig>
